/* The container where all the content of the index is in */
#index_container{
    display: flex;
    flex-direction: column;
}

/* The seperate divs for the paying and saving accounts */
#index_paying, #index_saving, #account_transactions, .transaction_extra{
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

/* The buttons for banking actions */
#index_actions{ 
    margin: 10px;
}

/* The error messages that can happen when logging in or registering */
#message {
    color: red;
}

/* This flexblox helps for the layout of the name and the amount of an account */
#paying_account_flex, #saving_account_flex, .transaction_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

/* Formatting voor de href to each account */
#account_href:link, #account_href:hover, #account_href:visited, #account_href:active{
    color: black;
    text-decoration: none;
}

/* The format for the search button in the account page */
#account_search{
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

/* The links for the transaction and deposits */
#account_actions, #index_actions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* The name and amount of each account */
#account_name_amount{
    margin-left: 10px;
}