/* The container where all the content of the index is in */
#index_container{
    display: flex;
    flex-direction: column;
}

/* The seperate divs for the paying and saving accounts */
#index_paying, #index_saving, #account_transactions, .transaction_extra{
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

/* The buttons for banking actions */
#index_actions{ 
    margin: 10px;
}

/* The error messages that can happen when logging in or registering */
#message {
    color: red;
}

/* This flexblox helps for the layout of the name and the amount of an account */
#paying_account_flex, #saving_account_flex, .transaction_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

/* Formatting voor de href to each account */
#account_href:link, #account_href:hover, #account_href:visited, #account_href:active{
    color: black;
    text-decoration: none;
}

/* The links for the transaction and deposits */
#account_actions, #index_actions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* The name and amount of each account */
#account_name_amount{
    margin-left: 10px;
}

/* All the titles get this color blue */
h2{
    color: rgb(51, 102, 255);
}

/*  Negative transactions get the color red */
#amount_negative{
    color: red;
}

/* Positive transactions get the color green */
#amount_positive{
    color: green;
}

/* The content of the page where you can create a transaction or a deposit */
#transaction_body, #create_account_body{
    margin-left: 10px;
    margin-right: 10px;
}

/* Make all the buttons more round */
.btn{
    background-color: rgb(51, 102, 255) !important;
    border-radius: 40px !important;
}

/* Remove the margin of the last section */
#transaction_description{
    margin: 0;
}

/* The box with the inputbar to search in it */
#account_search{
    margin: 10px;
}

/* The inputbar to search itself */
#account_search_input{
    border: 1px solid black !important;
    border-radius: 10px;
}