{% extends "bank/layout.html" %}
{% load static %}

{% block body %}
    {{ account.id|json_script:'name' }}

    <div>
        <h1>{{ account.name }}</h1>
        <h6>${{ account.amount }}</h6>
    </div>
    <div id="account_actions">
        <a id="account_transaction" href="{% url 'transaction' %}"><h6>Transaction</h6></a>
        <a id="account_deposit" href="{% url 'deposit' %}"><h6>Deposit</h6></a>
    </div>
    <div id="account_search">
        <h6>Search</h6>
    </div>
    <div id="account_transactions">
        {% for transaction in transactions %}
            <div class="transaction_flex" id="transaction{{ transaction.id }}">
                {% if account == transaction.sender %}
                    <h5><b>{{ transaction.receiver.holder.first }}</b></h5>
                {% elif account == transaction.receiver %}
                    <h5><b>{{ transaction.sender.holder.first  }}</b></h5>
                {% endif %}

                {% if account == transaction.sender %}
                    <b>- ${{ transaction.amount }}</b>
                {% elif account == transaction.receiver %}
                    <b>+ ${{ transaction.amount }}</b>
                {% endif %}
            </div>
            <div class="transaction_extra" id="transaction_extra{{ transaction.id }}">
                
            </div>
        {% endfor %}
    </div>
{% endblock%}

{% block script %}
    <script src="{% static 'bank/account.js' %}"></script>  
{% endblock %}