{% extends "bank/layout.html" %}
{% load static %}

{% block body %}
    {{ account.id|json_script:'name' }}

    <div id="account_name_amount">
        <h1>{{ account.name }}</h1>
        <h6>${{ account.amount }}</h6>
    </div>
    <div id="account_actions">
        <a id="account_transaction" href="{% url 'transaction' %}"><h6>Transaction</h6></a>
        <a id="account_deposit" href="{% url 'deposit' %}"><h6>Deposit</h6></a>
    </div>
    <div id="account_search">
        <h6>Search</h6>
    </div>
    <div id="account_transactions">
        {% for transaction in transactions %}
            <div class="transaction_flex" id="transaction{{ transaction.id }}">
                {% if transaction.sender == none %}
                    <h5><b>CS50 Bank</b></h5>
                {% elif account == transaction.sender %}
                    <h5><b>{{ transaction.receiver.holder_name }}</b></h5>
                {% elif account == transaction.receiver %}
                    <h5><b>{{ transaction.sender.holder_name}}</b></h5>
                {% endif %}

                {% if account == transaction.sender %}
                    <b>- ${{ transaction.amount }}</b>
                {% elif account == transaction.receiver %}
                    <b>+ ${{ transaction.amount }}</b>
                {% endif %}
            </div>
            <div class="transaction_extra" id="transaction_extra{{ transaction.id }}">
                <p>
                    <b>Contra accountname:</b><br>
                    {% if transaction.sender == none %}
                        <span>CS50 Bank</span>
                    {% elif account == transaction.sender %}
                        <span>{{ transaction.sender.holder_name }}</span>
                    {% elif account == transaction.receiver %}
                        <span>{{ transaction.receiver.holder_name }}</span>
                    {% endif %}
                </p>
                <p>
                    <b>Contra accountnumber:</b><br>
                    {% if transaction.sender == none %}
                        <span>No accountnumber</span>
                    {% elif account == transaction.sender %}
                        <span>{{ transaction.sender.number }}</span>
                    {% elif account == transaction.receiver %}
                        <span>{{ transaction.receiver.number }}</span>
                    {% endif %}
                </p>
                <div>
                    <b>Description:</b><br>
                    <span>{{ transaction.description }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock%}

{% block script %}
    <script src="{% static 'bank/account.js' %}"></script>  
{% endblock %}