{% extends "bank/layout.html" %}
{% load static %}

{% block body %}
    {% if message %}
        <div id="message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_account' %}" method="POST">
        {% csrf_token %}
        <div class="form-group" id="account_type">
            <label for="account_type">Account type:</label>
            <select class="form-control" id="account_type_selector" name="type">
                <option>Paying Account</option>
                <option>Saving Account</option>
            </select>
        </div>
        <div class="form-group" id="account_amount">
            <label for="account_amount">Enter a start amount maximal $1000,- </label>
            <input class="form-control" id="account_amount" name="amount" type="number" placeholder="Enter start amount" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}