{% extends "bank/layout.html" %}
{% load static %}

{% block body %}
    {% if message %}
        <div id="message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_account' %}" method="POST">
        {% csrf_token %}
        <div class="form-group" id="account_type">
            <label for="account_type">Account type:</label>
            <select class="form-control" id="account_type_selector" name="type">
                <option>Paying Account</option>
                <option>Saving Account</option>
            </select>
        </div>
        <div class="form-group" id="account_amount">
            <label for="account_amount">Enter a start amount maximal $1000,- </label>
            <input class="form-control" id="account_amount" name="amount" type="number" placeholder="Enter start amount" required>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="shared_account_checkbox" name="shared_checkbox" value="True">
            <label class="form-check-label" for="shared_account_checkbox">Shared Account</label>
        </div>
        <div class="form-group" id="shared_user">
            <label for="account_shared_user">Users:</label>
            <select class="form-control" id="account_shared_user" name="shared_user">
                {% for user in users %}
                    {% if request.user.pk != user.pk %}
                        <option value="{{ user.pk }}">
                            {{ user }}
                        </option>
                    {% endif %}
                {% endfor %}
                <option disabled selected>Select the other user for the shared account</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'bank/create_account.js' %}"></script>  
{% endblock %}