{% extends "bank/layout.html" %}
{% load static %}

{% block body %}
    <div id"index_container">
        <div id="index_actions">
            <p>Transfer</p>
            <p>Information</p>
        </div>

        <div id="index_paying">
            <h2>Paying</h2>
            {% for account in paying_accounts %}
                <div id="paying_account{{ account.id }}">
                    <div id="paying_account_flex">
                        <b>{{ account.name }}</b>
                        <b>${{ account.amount }}</b>
                    </div>
                    <p>
                        {{ user }}<br>
                        {{ account.number }}
                    </p>
                </div>
            {% endfor %}
        </div>

        <div id="index_saving">
            <h2>Saving</h2>
            {% for account in saving_accounts %}
                <div id="saving_account{{ account.id }}">
                    <div id="saving_account_flex">
                        <b>{{ account.name }}</b>
                        <b>${{ account.amount }}</b>
                    </div>
                    <p>
                        {{ user }}<br>
                        {{ account.number }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}