{% extends "bank/layout.html" %}
{% load static %}

{% block body %}
    <div id"index_container">
        <div id="index_actions">
            <form action="{% url 'transaction' %}">
                <button type="submit" class="btn btn-primary btn-rounded">Transaction</button>
            </form>
            <form action="{% url 'deposit' %}">
                <button type="submit" class="btn btn-primary btn-rounded">Deposit</button>
            </form>
        </div>

        {% if paying %}
            <div id="index_paying">
                <h2>Paying</h2>
                {% for account in paying_accounts %}
                    <a id="account_href" href="{% url 'account' id=account.id %}">
                        <div id="paying_account{{ account.id }}">
                            <div id="paying_account_flex">
                                <b>{{ account.name }}</b>
                                <b>${{ account.amount }}</b>
                            </div>
                            <p>
                                {{ account.holder_name }}<br>
                                {{ account.number }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if saving %}
            <div id="index_saving">
                <h2>Saving</h2>
                {% for account in saving_accounts %}
                    <a id="account_href" href="{% url 'account' id=account.id %}">
                        <div id="saving_account{{ account.id }}">
                            <div id="saving_account_flex">
                                <b>{{ account.name }}</b>
                                <b>${{ account.amount }}</b>
                            </div>
                            <p>
                                {{ user }}<br>
                                {{ account.number }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'bank/index.js' %}"></script>
{% endblock %}