{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Banking application</title>
  <link href="{% static 'bank/styles.css' %}" rel="stylesheet">
  <link rel="icon" href="/static/bank/icon.png">
  {% block script %}
  {% endblock %}
  <script src="{% static 'bank/layout.js' %}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <a href="{% url 'index' %}"> 
            <img class="navbar-brand" src="/static/bank/logo.png" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if request.user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbar_items">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_account' %}">Create Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'paying' %}">Paying</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'saving' %}">Saving</a>
              </li>
              <li class = "nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </nav>
    </header>

    <header id="mobile_header">
        {% if request.user.is_authenticated %}
          <div>
            <a class="nav-link" href="{% url 'index' %}">Home</a>
            <a class="nav-link" href="{% url 'create_account' %}">Create Account</a>
            <a class="nav-link" href="{% url 'paying' %}">Paying</a>
            <a class="nav-link" href="{% url 'saving' %}">Saving</a>
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          </div>
          {% endif %}
    </header>
    
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>