{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Banking application</title>
    <link href="{% static 'bank/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">CS50 banking</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar_items">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'create_account' %}">Create Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Paying</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Saving</a>
                </li>
                <li class = "nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
              </ul>
          </nav>
    </header>

    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>