{% extends "bank/layout.html" %}
{% load static %}

{% block body %}
    {% if message %}
        <div id="message">{{ message }}</div>
    {% endif %}

    <form id="login_form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="email_input">Email address</label>
            <input class="form-control" id="email_input" name="email" type="email" placeholder="Enter Email" autofocus>
        </div>
        <div class="form-group">
            <label for="password_input">Password</label>
            <input class="form-control" id="password_input" name="password" type="password" placeholder="Enter Password" >
        </div>
        <div>
            <p>No account: <a href="{% url 'register' %}">Click here</a></p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}