{% extends "bank/layout.html" %}
{% load static %}

{% block body %}
    {% if message %}
        <div id="transaction_message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'transaction' id=account.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group" id="account_type">
            <select class="form-control" id="account_selector" name="account">
                {% for account in user.account.all %}
                <option>{{ account.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" id="account_amount">
            <label for="account_amount">Enter an amount</label>
            <input class="form-control" id="account_amount" name="amount" type="number" placeholder="Enter start amount" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock%}