{% extends "bank/layout.html" %}
{% load static %}

{% block body %}
    {% if message %}
        <div id="message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'transaction' %}" method="POST">
        {% csrf_token %}
        <div class="form-group" id="account_type">
            <select class="form-control" id="account_selector" name="account">
                {% for account in user.account.all %}
                <option data-content="{{ account.name }} ${{ account.amount }}<br>{{ account.number}}">
                    {{ account.number }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" id="transaction_amount">
            <label for="transaction_amount">Enter an amount</label>
            <input class="form-control" id="transaction_amount" name="amount" type="number" placeholder="Enter start amount" >
        </div>
        <div class="form-group" id="transaction_receiver">
            <label for="transaction_receiver_name">Receiver</label>
            <input class="form-control" id="transaction_receiver_name" name="receiver_name" type="text" placeholder="Enter the name of the receiver" >
            <input class="form-control" id="transaction_receiver_number" name="receiver_number" type="text" placeholder="Enter the account number of the receiver" >
        </div>
        <div class="form-group" id="transaction_description">
            <label for="transaction_description">Description (max: 100 signs)</label>
            <input class="form-control" id="transaction_description" name="description" type="text" placeholder="Enter the description" maxlength="100">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock%}   

{% block script %}
    <script src="{% static 'bank/transaction.js' %}"></script>
{% endblock %}